{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "plugins": ["prettier", "security"],
  "env": {
    "browser": true,
    "node": true,
    "es2020": true,
    "mongo": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "no-return-assign": "off",
    "consistent-return": "off",
    "camelcase": "off",
    "no-param-reassign": "off",
    "new-cap": "off"
  }
}
